*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: aqua;
}
img{
    width: 125px;
    height: 125px;
    border: 5px black;
    object-fit: cover;
    
    
}
.hover{
background-color: blue;
}
.leave{
background-color: aqua;
}
.kep{
    text-align: center;
    width: 100%;
    height: 100%;
}
article{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 50px;
}
.ball{
    height: max-content;
    text-align: right;
}
.left{
    height: max-content;
    text-align: left;
}
section{
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    width: 45%;
    margin: auto;
}

